.alert {
    border: 1px solid $alert-border-color;
    background-color: $alert-bg;
    color: $alert-color;
    border-radius: 3px;
    position: relative;
    line-height: 1.5;
    font-size: 14px;
    padding: 15px;

    &-green,
    &-success {
        border-color: $alert-green-border-color;
        background-color: $alert-green-bg;
        color: $alert-green-color;
    }

    &-warn,
    &-yellow,
    &-warning {
        border-color: $alert-yellow-border-color;
        background-color: $alert-yellow-bg;
        color: $alert-yellow-color;
    }

    &-red,
    &-error {
        border-color: $alert-red-border-color;
        background-color: $alert-red-bg;
        color: $alert-red-color;
    }

    &-blankslate {
        border-radius: 3px;
        position: relative;
        text-align: center;
        background: none;
        box-shadow: none;
        padding: 30px;
        color: $black;
        border: 0;

        p {
            margin: 0 0 ($gutter / 4);

            + button,
            + .button {
                margin-top: $gutter;
            }
        }
    }
}
