.btn,
.button {
    border: 1px solid $button-default-border;
    font-size: $body-font-size;
    color: $brand-gray-dark;
    vertical-align: middle;
    text-decoration: none;
    display: inline-block;
    white-space: nowrap;
    border-radius: 3px;
    position: relative;
    user-select: none;
    font-weight: bold;
    line-height: 20px;
    padding: 6px 12px;
    appearance: none;
    cursor: pointer;
    outline: 0;

    background-color: $button-default-bg;
    background-image: linear-gradient($button-default-grad-bg, $button-default-bg);

    &:focus {
        box-shadow: 0 0 5px $focus-box-shadow;
        text-decoration: none;
        border-color: $focus-border-color;
        outline: none;
    }

    &:focus:hover,
    &.selected:focus {
        border-color: $focus-border-color;
    }

    &:hover,
    &:active,
    &.zeroclipboard-is-hover,
    &.zeroclipboard-is-active {
        text-decoration: none;
        background-color: $button-default-hover-color;
        background-image: linear-gradient($button-default-bg, $button-default-hover-color);
        border-color: $button-default-hover-border-color;
    }

    &:active,
    &.selected,
    &.zeroclipboard-is-active {
        background-color: $button-default-active-background-color;
        box-shadow: inset 0 2px 4px transparentize($black, 0.85);
        border-color: $button-default-active-border-color;
        background-image: none;
    }

    &.selected:hover {
        background-color: darken($button-default-active-background-color, 5%);
    }

    &:disabled,
    &.disabled {
        &,
        &:hover {
            border-color: transparentize($button-default-border, 0.5);
            color: transparentize($brand-gray-dark, 0.5);
            box-shadow: none;
            cursor: default;

            background-color: transparentize($button-default-bg, 0.5);
            background-image: none;
        }
    }

    &-icon {
        overflow: hidden;

        &:before {
            @extend .icon;

            transition: right 0.3s $bezier;
            transform: translateY(-50%);
            position: absolute;
            line-height: 1.5;
            width: 100%;
            right: 100%;
            top: 50%;
        }

        .icon {
            transition: right 0.3s $bezier;
            transform: translateY(-50%);
            position: absolute;
            line-height: 1.5;
            width: 100%;
            right: 100%;
            top: 50%;
        }

        div {
            visibility: hidden;
        }

        span {
            transition: right 0.3s $bezier;
            transform: translateY(-50%);
            position: absolute;
            width: 100%;
            right: 0;
            top: 50%;
        }

        &:hover,
        &:focus,
        &:active {
            &:before,
            .icon {
                right: 0;
            }

            span {
                right: -200%;
            }
        }
    }

    &-blue,
    &-primary {
        color: $white;
        border-color: $button-blue-border;
        text-shadow: 0 -1px 0 transparentize($black, 0.75);

        background-color: $button-blue-bg;
        background-image: linear-gradient($button-blue-grad-bg, $button-blue-bg);

        &:hover {
            border-color: $button-blue-border;
            background-color: darken($button-blue-bg, 5%);
            background-image: linear-gradient(darken($button-blue-grad-bg, 5%), darken($button-blue-bg, 5%));
        }

        &:active,
        &.selected {
            background-image: none;
            box-shadow: inset 0 3px 5px transparentize($black, 0.85);
        }

        &:disabled,
        &.disabled {
            &,
            &:hover {
                color: $button-blue-disabled-color;
                border-color: lighten($button-blue-border, 20%);
                background-color: lighten($button-blue-bg, 15%);
                background-image: linear-gradient(lighten($button-blue-grad-bg, 15%), lighten($button-blue-bg, 15%));
            }
        }
    }

    &-green,
    &-success {
        color: $white;
        background-color: $button-green-bg;
        border-color: darken($button-green-bg, 2%);
        text-shadow: 0 -1px 0 transparentize($black, 0.85);
        background-image: linear-gradient($button-green-grad-bg, $button-green-bg);

        .counter {
            color: $button-green-bg;
            background-color: $white;
        }

        &:hover {
            color: $white;
            background-color: darken($button-green-bg, 5%);
            background-image: linear-gradient(darken($button-green-grad-bg, 5%), darken($button-green-bg, 5%));
            border-color: $button-green-hover-border-color;
        }

        &:active,
        &.selected {
            background-color: darken($button-green-bg, 5%);
            background-image: none;
            border-color: darken($button-green-hover-border-color, 5%);
        }

        &.selected:hover {
            background-color: darken($button-green-bg, 10%);
        }

        &:disabled,
        &.disabled {
            &,
            &:hover {
                color: $button-green-disabled-color;
                border-color: lighten(darken($button-green-bg, 2%), 20%);
                background-color: lighten($button-green-bg, 15%);
                background-image: linear-gradient(lighten($button-green-grad-bg, 15%), lighten($button-green-bg, 15%));
            }
        }
    }

    &-red,
    &-error {
        color: $button-red-color;

        &:hover {
            color: $white;
            background-color: $button-red-bg;
            background-image: linear-gradient($button-red-grad-bg, $button-red-bg);
            border-color: $button-red-hover-border-color;
        }

        &:active,
        &.selected {
            color: $white;
            background-color: $button-red-bg;
            background-image: none;
            border-color: darken($button-red-hover-border-color, 15%);
        }

        &.selected:hover {
            background-color: darken($button-red-bg, 5%);
        }

        &:disabled,
        &.disabled {
            &,
            &:hover {
                color: $button-red-disabled-color;
                background-color: $button-red-disabled-bg;
                background-image: linear-gradient(lighten($button-red-disabled-bg, 5%), $button-red-disabled-bg);
                border-color: $button-red-disabled-border-color;
            }
        }

        &:hover,
        &:active,
        &.selected {
            .counter {
                color: $button-red-bg;
                background-color: $white;
            }
        }
    }

    &-sm,
    &-mini,
    &-small {
        padding: 2px 10px;
    }

    &-with-count {
        float: left;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }

    &-count {
        border: 1px solid $border-color;
        background-color: $white;
        color: $brand-gray-dark;
        vertical-align: middle;
        text-decoration: none;
        font-weight: bold;
        line-height: 20px;
        padding: 2px 7px;
        font-size: 11px;
        border-left: 0;
        float: left;

        border-bottom-right-radius: 3px;
        border-top-right-radius: 3px;

        &:hover,
        &:active {
            text-decoration: none;
        }

        &:hover {
            color: $brand-primary;
            cursor: pointer;
        }
    }
}
