.btn,
.button {
    @include button($button-default-color, $button-default-bg, $button-default-border, false);

    outline: 0;
    cursor: pointer;
    appearance: none;
    border-width: 1px;
    padding: 2px 10px;
    user-select: none;
    font-weight: bold;
    line-height: 1.5;
    position: relative;
    border-radius: 3px;
    white-space: nowrap;
    border-style: solid;
    display: inline-block;
    text-decoration: none;
    vertical-align: middle;
    font-size: $body-font-size;

    &-blue,
    &-primary {
        @include button($button-primary-color, $button-primary-bg, $button-primary-border);
    }

    &-green,
    &-success {
        @include button($button-success-color, $button-success-bg, $button-success-border);
    }

    &-red,
    &-error,
    &-danger {
        @include button($button-danger-color, $button-danger-bg, $button-danger-border);
    }

    &-icon {
        overflow: hidden;

        &:before {
            @extend .icon;

            transition: right 0.3s $bezier;
            transform: translateY(-50%);
            position: absolute;
            line-height: 1.5;
            width: 100%;
            right: 100%;
            top: 50%;
        }

        .icon {
            transition: right 0.3s $bezier;
            transform: translateY(-50%);
            position: absolute;
            line-height: 1.5;
            width: 100%;
            right: 100%;
            top: 50%;
        }

        div {
            visibility: hidden;
        }

        span {
            transition: right 0.3s $bezier;
            transform: translateY(-50%);
            position: absolute;
            width: 100%;
            right: 0;
            top: 50%;
        }

        &:hover,
        &:focus,
        &:active {
            &:before,
            .icon {
                right: 0;
            }

            span {
                right: -200%;
            }
        }

        &.disabled,
        &:disabled {
            &:before,
            .icon {
                right: 100% !important;
            }

            span {
                right: 0 !important;
            }
        }
    }

    &-lg,
    &-big,
    &-large {
        padding: 6px 12px;
    }

    &-group {
        @include clearfix();

        .btn,
        .button {
            float: left;

            &:not(:last-child) {
                margin-right: -1px;
                position: relative;
                border-top-right-radius: 0;
                border-bottom-right-radius: 0;
            }

            &:not(:first-child) {
                border-top-left-radius: 0;
                border-bottom-left-radius: 0;
            }

            &:focus,
            &:active,
            &:hover {
                z-index: 1;
            }
        }

        &-lg,
        &-big,
        &-large {
            .btn,
            .button {
                padding: 6px 12px;
            }
        }
    }
}
