.card {
    outline: 0;
    display: block;
    border: 1px solid;
    border-radius: 3px;
    margin-bottom: ($gutter / 2);

    background-color: $card-default-bg;
    border-color: ($card-border-color-top) ($card-border-color-sides) ($card-border-color-bottom);

    &:focus {
        box-shadow: none;
    }

    &-banner {
        min-height: 140px;

        margin: ($gutter / 4);
        margin-bottom: 0;
    }

    &-title {
        color: transparentize($black, 0.2);
        padding: ($gutter / 2);
        font-size: 22px;

        &-mini {
            background-color: $card-title-mini-bg;
            border-bottom: 1px solid $border-color;
            border-top-right-radius: 3px;
            border-top-left-radius: 3px;
            padding: 10px 12px;
            font-size: 12px;
        }
    }

    &-body {
        padding: ($gutter / 2);
    }
}
