.card {
    @include card();

    outline: 0;
    display: block;
    border-radius: 3px;
    margin-bottom: ($gutter / 2);

    &:focus {
        box-shadow: none;
    }

    &-banner {
        min-height: 140px;

        margin: ($gutter / 4);
        margin-bottom: 0;
    }

    &-title {
        padding: ($gutter / 2);
        font-size: 22px;

        &-mini {
            border-top-right-radius: 3px;
            border-top-left-radius: 3px;
            padding: 10px 12px;
            font-size: 12px;
        }
    }

    &-body {
        padding: ($gutter / 2);
    }

    // Card States
    &-red,
    &-error,
    &-danger {
        @include card($card-red-text-color, $card-red-border-color, $card-red-title-mini-bg);
    }

    &-green,
    &-success,
    &-completed {
        @include card($card-green-text-color, $card-green-border-color, $card-green-title-mini-bg);
    }
}
