// Styles for the Demo/Example Pages

html.docs {
    body {
        background-color: $body-bg;
    }

    .site-header {
        .navigation {
            .dropdown {
                .github-buttons {
                    padding: 6px 15px 0;
                    width: 138px;
                }
            }
        }
    }

    .content-container {
        min-height: 400px;
        border-radius: 3px;
        margin-bottom: 10px;
        padding: ($gutter / 2);
        background: $body-bg;

        .docs-card {
            transition: 0.175s;

            &:hover {
                box-shadow: 0 2px 5px 0 transparentize($black, 0.84), 0 2px 10px 0 transparentize($black, 0.88);
            }
        }

        .docs-page {
            @include clearfix();

            &-header {
                margin: -11px -10px 10px;
                border-bottom: 1px solid $border-color;

                &-title {
                    margin: 0;
                    padding: ($gutter / 2);
                    line-height: ($gutter * 2);
                }
            }

            &-toggle {
                float: right;

                button {
                    @include nofocus();

                    border: 0;
                    bottom: -1px;
                    background: 0;
                    position: relative;
                    padding: ($gutter / 2);
                    line-height: ($gutter * 2);

                    &.active {
                        box-shadow: inset $brand-primary 0 -2px 0 0;
                        color: $brand-primary;
                    }
                }
            }

            figure.highlight {
                margin: 20px 0 0;

                &:not(:last-child) {
                    margin-bottom: $gutter;
                }
            }
        }
    }

    .site-content-sidebar {
        list-style-type: none;

        li {
            a {
                @include nofocus();

                display: block;
                font-size: 14px;
                font-weight: 300;
                padding: 8px 12px;
                padding-left: ($gutter * 1.5);
            }

            &:hover {
                box-shadow: inset transparentize($brand-primary, 0.7) 2px 0 0 0;
            }

            &.current {
                box-shadow: inset $brand-primary 2px 0 0 0;

                a {
                    font-weight: 500;
                }
            }
        }
    }

    &.alerts {
        .alert {
            margin-bottom: $gutter;
        }
    }

    &.patterns {
        .pattern-canvas {
            height: 175px;
        }
    }

    .site-footer {
        background: $footer-bg;
        min-height: 350px;
    }
}
