// Styles for the Demo/Example Pages

html.docs {
    min-height: 150vh;

    body {
        background-color: $body-bg;
    }

    .content-container {
        min-height: 400px;
        border-radius: 3px;
        margin-bottom: 10px;
        padding: ($gutter / 2);
        background: $body-bg;
        font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;

        .docs-page {
            @include clearfix();

            &-header {
                margin: -11px -10px 10px;
                border-bottom: 1px solid $border-color;

                &-title {
                    margin: 0;
                    padding: ($gutter / 2);
                    line-height: ($gutter * 2);
                }
            }

            &-toggle {
                float: right;

                button {
                    @include nofocus();

                    border: 0;
                    bottom: -1px;
                    background: 0;
                    position: relative;
                    padding: ($gutter / 2);
                    line-height: ($gutter * 2);

                    &.active {
                        box-shadow: inset $brand-primary 0 -2px 0 0;
                        color: $brand-primary;
                    }
                }
            }

            figure.highlight {
                margin: 20px 0 0;

                &:not(:last-child) {
                    margin-bottom: $gutter;
                }
            }
        }
    }

    .site-content-sidebar {
        list-style-type: none;

        li {
            a {
                @include nofocus();

                display: block;
                font-size: 14px;
                font-weight: 300;
                padding: 8px 12px;
                padding-left: ($gutter * 1.5);
            }

            &:hover {
                box-shadow: inset transparentize($brand-primary, 0.7) 2px 0 0 0;
            }

            &.current {
                box-shadow: inset $brand-primary 2px 0 0 0;

                a {
                    font-weight: 500;
                }
            }
        }
    }

    &.alerts {
        .alert {
            margin-bottom: $gutter;
        }
    }

    &.icons {
        .icon-container {
            width: 20%;
            float: left;
            text-align: center;
            padding: ($gutter);

            .icon {
                font-size: 32px;
            }
        }
    }

    &.flags {
        .flag {
            display: inline-block;
        }
    }

    &.looseleaf {
        .loose-leaf {
            margin: 40px auto 0;
        }
    }

    &.patterns {
        .pattern-canvas {
            height: 175px;
        }
    }

    &.sortables {
        .sortables {
            .sort-controls {
                margin-bottom: ($gutter);
            }

            .sort-container {
                .sort-item {
                    height: 50px;
                    width: 50px;

                    &.sort-category-1 { @include pattern(sort-category-1); }
                    &.sort-category-2 { @include pattern(sort-category-2); }
                    &.sort-category-3 { @include pattern(sort-category-3); }
                    &.sort-category-4 { @include pattern(sort-category-4); }
                }
            }
        }
    }

    .site-footer {
        background: $footer-bg;
        min-height: 350px;
    }
}
