.dropdown {
    position: relative;
    display: inline-block;

    &-menu {
        margin: 0;
        opacity: 0;
        z-index: 10001;
        max-width: 90vw;
        max-height: 90vh;
        min-width: 100%;
        min-height: 30px;
        position: absolute;
        border-radius: 3px;
        pointer-events: none;
        padding: ($gutter / 4) 0;
        transition: 0.4s $bezier;

        background-color: $dropdown-default-bg;
        box-shadow: 0 8px 13px transparentize($black, 0.64), 0 0 0 1px transparentize($black, 0.94);

        &:before {
            position: absolute;
            content: '';
            height: 0;
            width: 0;

            left: 10px;
            top: -6px;

            border-right: 6px solid transparent;
            border-left: 6px solid transparent;
            border-bottom: 6px solid transparentize($black, 0.94);
        }

        &:after {
            position: absolute;
            content: '';
            height: 0;
            width: 0;

            left: 11px;
            top: -5px;

            border-right: 5px solid transparent;
            border-left: 5px solid transparent;
            border-bottom: 5px solid $white;
        }

        a,
        button {
            border: 0;
            color: $black;
            background: 0;
            display: block;
            font-weight: 500;
            padding: 4px 16px;
            white-space: nowrap;
            font-family: $body-font;

            &:hover {
                color: $white;
                background-color: $brand-primary;
            }
        }

        .divider {
            height: 1px;
            display: block;
            margin: ($gutter / 5) 0;
            background-color: $border-color;
        }

        .github-buttons {
            padding: 6px 15px 0;
            width: 138px;
        }
    }

    &.open {
        .dropdown-toggle {
            position: relative;
            z-index: 10000;
        }

        .dropdown-menu {
            opacity: 1;
            pointer-events: auto;
        }
    }

    &-n {
        .dropdown-menu {
            top: auto;
            right: 50%;
            bottom: 100%;
            margin-bottom: 8px;
            transform: translate(50%, -100%);

            &:before,
            &:after {
                top: auto;
                left: auto;
                right: 50%;
                border: 0;
                bottom: -6px;
                transform: translateX(50%);
            }

            &:before {
                border-top: 6px solid transparentize($black, 0.94);
                border-right: 6px solid transparent;
                border-left: 6px solid transparent;
            }

            &:after {
                border-top: 6px solid $white;
                border-right: 6px solid transparent;
                border-left: 6px solid transparent;
            }
        }

        &.open {
            .dropdown-menu {
                transform: translateX(50%);
            }
        }
    }

    &-nw {
        .dropdown-menu {
            top: auto;
            left: auto;
            right: 0;
            bottom: 100%;
            margin-bottom: 8px;
            transform: translate(0, -100%);

            &:before,
            &:after {
                top: auto;
                left: auto;
                right: 15px;
                border: 0;
                bottom: -6px;
                transform: translate(50%);
            }

            &:before {
                border-top: 6px solid transparentize($black, 0.94);
                border-right: 6px solid transparent;
                border-left: 6px solid transparent;
            }

            &:after {
                border-top: 6px solid $white;
                border-right: 6px solid transparent;
                border-left: 6px solid transparent;
            }
        }

        &.open {
            .dropdown-menu {
                transform: translateX(0);
            }
        }
    }

    &-ne {
        .dropdown-menu {
            top: auto;
            left: 0;
            bottom: 100%;
            margin-bottom: 8px;
            transform: translate(0, -100%);

            &:before,
            &:after {
                top: auto;
                left: 15px;
                border: 0;
                bottom: -6px;
                transform: translate(-50%);
            }

            &:before {
                border-top: 6px solid transparentize($black, 0.94);
                border-right: 6px solid transparent;
                border-left: 6px solid transparent;
            }

            &:after {
                border-top: 6px solid $white;
                border-right: 6px solid transparent;
                border-left: 6px solid transparent;
            }
        }

        &.open {
            .dropdown-menu {
                transform: translateX(0);
            }
        }
    }

    &-s {
        .dropdown-menu {
            top: 100%;
            right: 50%;
            margin-top: 8px;
            transform: translate(50%, 50%);

            &:before,
            &:after {
                left: auto;
                right: 50%;
                transform: translate(50%);
            }
        }

        &.open {
            .dropdown-menu {
                transform: translateX(50%);
            }
        }
    }

    &-sw {
        .dropdown-menu {
            top: 100%;
            right: 0;
            margin-top: 8px;
            transform: translate(0, 50%);

            &:before,
            &:after {
                left: auto;
                right: 15px;
                transform: translate(50%);
            }
        }

        &.open {
            .dropdown-menu {
                transform: translateX(0);
            }
        }
    }

    &-se {
        .dropdown-menu {
            top: 100%;
            left: 0;
            margin-top: 8px;
            transform: translate(0, 50%);

            &:before,
            &:after {
                left: 15px;
                transform: translate(-50%);
            }
        }

        &.open {
            .dropdown-menu {
                transform: translateX(0);
            }
        }
    }

    &-w {
        .dropdown-menu {
            top: auto;
            right: 100%;
            bottom: 50%;
            margin-right: 8px;
            transform: translate(-100%, 50%);

            &:before,
            &:after {
                top: auto;
                left: auto;
                right: -12px;
                bottom: 50%;
                transform: translateY(50%);
            }

            &:before {
                border-left-color: transparentize($black, 0.94);
                border-bottom-color: transparent;
                border-top: 6px solid transparent;
            }

            &:after {
                right: -9px;
                border-left-color: $white;
                border-bottom-color: transparent;
                border-top: 6px solid transparent;
            }
        }

        &.open {
            .dropdown-menu {
                transform: translateY(50%);
            }
        }
    }

    &-wn {
        .dropdown-menu {
            top: auto;
            right: 100%;
            bottom: 0;
            margin-right: 8px;
            transform: translate(-100%, 0);

            &:before,
            &:after {
                top: auto;
                left: auto;
                right: -12px;
                bottom: 15px;
                transform: translateY(50%);
            }

            &:before {
                border-left-color: transparentize($black, 0.94);
                border-bottom-color: transparent;
                border-top: 6px solid transparent;
            }

            &:after {
                right: -10px;
                border-left-color: $white;
                border-bottom-color: transparent;
                border-top: 6px solid transparent;
            }
        }

        &.open {
            .dropdown-menu {
                transform: translateY(0);
            }
        }
    }

    &-ws {
        .dropdown-menu {
            top: 0;
            right: 100%;
            margin-right: 8px;
            transform: translate(-100%, 0);

            &:before,
            &:after {
                top: 15px;
                left: auto;
                right: -12px;
                transform: translateY(-50%);
            }

            &:before {
                border-left-color: transparentize($black, 0.94);
                border-bottom-color: transparent;
                border-top: 6px solid transparent;
            }

            &:after {
                right: -10px;
                border-left-color: $white;
                border-bottom-color: transparent;
                border-top: 6px solid transparent;
            }
        }

        &.open {
            .dropdown-menu {
                transform: translateY(0);
            }
        }
    }

    &-e {
        .dropdown-menu {
            top: auto;
            left: 100%;
            bottom: 50%;
            margin-left: 8px;
            transform: translate(100%, 50%);

            &:before,
            &:after {
                top: auto;
                left: -12px;
                bottom: 50%;
                transform: translateY(50%);
            }

            &:before {
                border-right-color: transparentize($black, 0.94);
                border-bottom-color: transparent;
                border-top: 6px solid transparent;
            }

            &:after {
                left: -9px;
                border-right-color: $white;
                border-bottom-color: transparent;
                border-top: 6px solid transparent;
            }
        }

        &.open {
            .dropdown-menu {
                transform: translateY(50%);
            }
        }
    }

    &-en {
        .dropdown-menu {
            top: auto;
            left: 100%;
            bottom: 0;
            margin-left: 8px;
            transform: translate(100%, 0);

            &:before,
            &:after {
                top: auto;
                left: -12px;
                bottom: 15px;
                transform: translateY(50%);
            }

            &:before {
                border-right-color: transparentize($black, 0.94);
                border-bottom-color: transparent;
                border-top: 6px solid transparent;
            }

            &:after {
                left: -10px;
                border-right-color: $white;
                border-bottom-color: transparent;
                border-top: 6px solid transparent;
            }
        }

        &.open {
            .dropdown-menu {
                transform: translateY(0);
            }
        }
    }

    &-es {
        .dropdown-menu {
            top: 0;
            left: 100%;
            margin-left: 8px;
            transform: translate(100%, 0);

            &:before,
            &:after {
                top: 15px;
                left: -12px;
                transform: translateY(-50%);
            }

            &:before {
                border-right-color: transparentize($black, 0.94);
                border-bottom-color: transparent;
                border-top: 6px solid transparent;
            }

            &:after {
                left: -10px;
                border-right-color: $white;
                border-bottom-color: transparent;
                border-top: 6px solid transparent;
            }
        }

        &.open {
            .dropdown-menu {
                transform: translateY(0);
            }
        }
    }
}
