// Flex table is a module for creating dynamically resizable elements that
// always sit on the same horizontal line (e.g., they never wrap). Using
// tables means it's cross browser friendly.

.flex-table {
    display: table;

    // Place this on every "cell"
    &-item {
    vertical-align: middle;
    white-space: nowrap;
    display: table-cell;
    width: 1%;

        // Place this on the largest or most important "cell"
        &-primary {
            width: 99%;
        }
    }
}
