.gallery {
    &-image {
        max-width: 100%;
        cursor: pointer;
    }

    &-grid {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;

        &-item {
            margin: 0;
            padding: 0;
            width: 150px;
        }
    }

    &-popup {
        background: transparentize($black, 0.2);
        position: fixed;
        bottom: 0;
        right: 0;
        left: 0;
        top: 0;

        &-content {
            box-shadow: 0 8px 13px transparentize($black, 0.64), 0 0 0 1px transparentize($black, 0.94);
            animation: galleryPopupOpen 500ms linear both;
            background-color: $white;
            border-radius: 6px;
            position: absolute;
            padding: ($gutter / 2);
            max-height: 80%;
            max-width: 90%;
            bottom: 50%;
            right: 50%;

            img {
                position: relative;
                max-width: 100%;
                display: block;
            }
        }
    }

    &-close {
        @extend .tooltipped;
        @extend .tooltipped-w;

        position: absolute;
        cursor: pointer;
        color: $white;
        top: -30px;
        right: 0;

        i {
            @extend .icon;
            @extend .icon-x;

            font-size: 24px;
        }
    }
}
