.site-header {
    position: relative;

    &-parallax {
        min-height: 348px;

        .navigation {
            background-color: transparent;
            transform: none !important;
            animation: none !important;
            border-bottom: 0;
            transition: none;
            position: fixed;

            .container {
                border-bottom: 1px dashed transparentize($white, 0.7);
            }

            &-logo {
                &-link {
                    color: transparentize($white, 0.1);

                    &:hover {
                        color: $white;
                    }
                }

                &-project-link {
                    color: transparentize($white, 0.3);

                    &:before {
                        color: $white-contrast !important;
                    }

                    &.open,
                    &:focus,
                    &:active,
                    &:hover {
                        color: $white;
                    }
                }
            }

            &-links {
                &,
                &-left,
                &-right {
                    a,
                    a:link {
                        color: transparentize($white, 0.2);

                        &:hover {
                            color: $white;
                        }
                    }
                }
            }

            &.shadow {
                box-shadow: 0 2px 2px -2px transparentize($black, 0.18);
                border-bottom: 1px solid darken($brand-primary, 10%);

                .container {
                    border-color: transparent;
                }
            }

            &-mobile {
                &-toggle {
                    .icon {
                        &:before {
                            background: $white;
                        }

                        &:after {
                            box-shadow: 8px -4px 0 $white,
                                        -16px -4px 0 $white;
                        }

                        &.active {
                            &:before {
                                transform: scale(0.8);
                                box-shadow: 0 2px 5px 0 transparentize($black, 0.84),
                                            0 2px 9px 0 transparentize($black, 0.88);

                                &:hover {
                                    box-shadow: 0 5px 11px 0 transparentize($black, 0.82),
                                                0 4px 15px 0 transparentize($black, 0.85);
                                }
                            }

                            &:after {
                                box-shadow: 0 -4px 0 $white, 0 -4px 0 $white;
                            }
                        }

                        i {
                            background: $brand-primary;

                            &:after {
                                background: $brand-primary;
                            }
                        }
                    }
                    .tap {
                        background-color: transparentize($white, 0.4);
                    }
                }

                &-active {
                    .navigation-links {
                        background-color: $white;
                        text-align: center;
                        position: fixed;
                        display: block;
                        height: 100vh;
                        width: 100vw;
                        bottom: 0;
                        right: 0;
                        left: 0;
                        top: $navigation-height;

                        &-services {
                            &:not(:empty) {
                                border-top: 1px solid $border-color;
                                text-align: left;

                                display: flex;
                                flex-flow: row wrap;
                                justify-content: space-between;

                                li {
                                    @include aspect-ratio(1, 1);

                                    max-width: 120px;
                                    min-width: 85px;
                                    padding: 0;

                                    flex-basis: auto;
                                    flex-grow: 1;

                                    .content {
                                        margin: ($gutter / 2);
                                        border-radius: 6px;

                                        .icon {
                                            transform: translate(50%, 25%);
                                            position: absolute;
                                            font-size: 2.25rem;
                                            color: $white;
                                            bottom: 50%;
                                            right: 50%;
                                        }

                                        span {
                                            transform: translateX(-50%);
                                            bottom: ($gutter / 2);
                                            position: absolute;
                                            line-height: 1.5;
                                            color: $white;
                                            left: 50%;
                                        }

                                        // Adding Style to the Design Service Component
                                        // https://github.com/Forcir/design/issues/8
                                        &.design {
                                            @include app-gradient($brand-primary);
                                        }

                                        &.patterns {
                                            @include pattern(patterns, contain);
                                        }
                                    }
                                }
                            }
                        }

                        &-left,
                        &-right {
                            float: none;

                            li {
                                display: block;

                                a {
                                    font-size: 1rem;
                                    display: block;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    &.shadow {
        z-index: $zindex-navigation;
    }

    &:before {
        @include pattern(design);

        background-color: darken($brand-primary, 10%);
        position: absolute;
        content: '';
        bottom: 0;
        right: 0;
        left: 0;
        top: 0;
    }

    &:after {
        position: absolute;
        content: '';
        bottom: 0;
        right: 0;
        left: 0;
        top: 0;
    }

    ~ .site-content {
        margin-top: -80px;
        position: relative;
    }
}

// Scroll Issues on Safari Devices
// So it's gets complete disabled
html.safari .site-header {
    &-parallax {
        .navigation {
            position: absolute;

            &-logo {
                &-link {
                    color: transparentize($white, 0.1);

                    &:hover {
                        color: $white;
                    }
                }

                &-project-link {
                    color: transparentize($white, 0.3);

                    &:before {
                        color: $white-contrast !important;
                    }

                    &.open,
                    &:focus,
                    &:active,
                    &:hover {
                        color: $white;
                    }
                }
            }
        }
    }
}
