.loose-leaf {
    box-shadow: 0 2px 5px 0 transparentize($black, 0.74);
    font-family: 'Architects Daughter', cursive;
    background-color: $loose-leaf-bg;
    letter-spacing: 1px;
    position: relative;
    padding-top: 75px;
    font-weight: 300;
    overflow: hidden;
    font-size: 16px;
    display: block;
    color: $brand-gray-dark;
    z-index: 1;
    margin: 0;

    // 1.29 ratio = 8.5 x 11 equivalent
    max-width: ($loose-leaf-height / 1.29);
    height: $loose-leaf-height;

    p {
        line-height: 24px;
        margin: 0 0 24px !important;
    }

    &-content {
        position: relative;
        top: 0;
        left: 0;
        z-index: 2;
        padding: 24px 120px;
        height: 100%;
        background: repeating-linear-gradient(to bottom, $loose-leaf-bg, $loose-leaf-bg 23px, $loose-leaf-hline-bg 1px, $loose-leaf-bg);
        background-size: 100% 24px;
        line-height: 24px;

        &-body {
            &:before {
                content: '';
                display: inline-block;
                position: absolute;
                bottom: -24px;
                right: -24px;
                z-index: 6;
                opacity: 0.35;
                width: 200;
                height: 200;
                background-image: url('../img/coffee-stain.png');
                background-repeat: no-repeat;
                background-position: top right;
                background-size: 200 200;
            }
            &:after {
                content: '';
                bottom: 54px;
                left: 24px;
                z-index: 3;
                width: 24px;
                height: 24px;
                background-color: $white;
                border-radius: 50%;
                display: inline-block;
                position: absolute;
                box-shadow: inset 0 2px 5px 0 transparentize($black, 0.74);
            }
        }

        &:before {
            box-shadow: inset 0 2px 5px 0 transparentize($black, 0.74);
            content: ' ';
            display: inline-block;
            position: absolute;
            top: 384px;
            left: 24px;
            z-index: 3;
            width: 24px;
            height: 24px;
            background-color: $white;
            border-radius: 50%;
        }

        &:after {
            content: ' ';
            display: inline-block;
            position: absolute;
            top: -75px;
            bottom: 0;
            right: 96px;
            z-index: 4;
            width: 4px;
            height: 1000%;
            border-left: 1px solid $loose-leaf-vline-bg;
        }
    }

    &-name,
    &-date {
        position: absolute;
        z-index: 5;
        width: 300;
        background-color: transparent;
        font-size: 20;
        border: 0;
        vertical-align: baseline;

        &:focus {
            outline: none;
        }
    }

    &-name {
        left: 120;
    }

    &-date {
        right: 120;
        z-index: 5;
        text-align: right;
    }

    &:before {
        box-shadow: inset 0 2px 5px 0 transparentize($black, 0.74);
        content: '';
        display: inline-block;
        position: absolute;
        top: 96px;
        left: 24px;
        z-index: 3;
        width: 24px;
        height: 24px;
        background-color: $white;
        border-radius: 50%;
    }

    &:after {
        content: '';
        display: inline-block;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 96px;
        z-index: 3;
        width: 4px;
        height: 100%;
        border-left: 4px double $loose-leaf-vline-bg;
    }
}
