@mixin clearfix {
    &::before {
        display: table;
        content: "";
    }

    &::after {
        display: table;
        clear: both;
        content: "";
    }
}

@mixin removeListDefaults {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

@mixin aspect-ratio($width, $height) {
    position: relative;

    &:before {
        padding-top: ($height / $width) * 100%;
        display: block;
        content: "";
        width: 100%;
    }

    > .content {
        position: absolute;
        bottom: 0;
        right: 0;
        left: 0;
        top: 0;
    }
}

@mixin pattern($name, $background: contain) {
    background-size: #{$background};
    background-repeat: repeat;
    background-image: url('#{$project-url-patterns}/#{$patterns-version}/#{$name}');
}

@mixin gradient-blue($start-color: #26D0CE, $end-color: #1A2980, $start-percent: 0%, $end-percent: 100%) {
    background-image: linear-gradient(to right, $start-color $start-percent, $end-color $end-percent);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#{ie-hex-str($start-color)}', endColorstr='#{ie-hex-str($end-color)}', GradientType=1); // IE9
}

@mixin gradient-blue-green($start-color: #3A7AEA, $end-color: #A5F0AD, $start-percent: 0%, $end-percent: 100%) {
    background-image: linear-gradient(to right, $start-color $start-percent, $end-color $end-percent);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#{ie-hex-str($start-color)}', endColorstr='#{ie-hex-str($end-color)}', GradientType=0); // IE9
}

@mixin gradient-directional($start-color: #555, $end-color: #333, $deg: 45deg) {
    background-repeat: repeat-x;
    background-image: linear-gradient($deg, $start-color, $end-color);
}

@mixin gradient-three-colors($start-color: #4ED7C9, $mid-color: #C08BDB, $color-stop: 50%, $end-color: #FEB673, $deg: 45deg) {
    background-image: linear-gradient($deg, $start-color, $mid-color $color-stop, $end-color);
    background-repeat: no-repeat;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#{ie-hex-str($start-color)}', endColorstr='#{ie-hex-str($end-color)}', GradientType=1); // IE9 gets no color-stop at all for proper fallback
}
