.navigation {
    background-color: $navigation-bg;
    z-index: $zindex-navigation;
    height: $navigation-height;
    position: absolute;
    right: 0;
    left: 0;
    top: 0;

    .container {
        border-bottom: $navigation-border-height solid $navigation-border-color;
        height: $navigation-height;
    }

    &-dummy {
        height: $navigation-height;
        position: relative;
    }

    &-fixed {
        border-bottom: $navigation-fixed-border-height solid $navigation-fixed-border-color;
        height: $navigation-fixed-height;
        transform: translateY(-100%);
        transition: 0.275s;
        position: fixed;

        animation: navigationFixedTransitionSlideDown 1s;
        animation-fill-mode: forwards;
        animation-iteration-count: 1;

        .container {
            border-bottom: 0;
        }

        &::after {
            background: linear-gradient($navigation-bg, transparent);
            height: $navigation-fixed-fade-out;
            top: $navigation-height;
            position: fixed;
            content: '';
            right: 0;
            left: 0;
        }
    }

    &-logo {
        float: left;

        &-link,
        &-link:link {
            color: transparentize($black, 0.5);
            text-transform: lowercase;
            transition: 0.175s ease;
            margin: 14.28571px 0;
            line-height: 20px;
            font-weight: 500;
            font-size: 24px;
            display: block;
            float: left;

            &:hover {
                color: $black;
            }
        }

        &-project-link {
            line-height: $navigation-height;
            margin-right: ($gutter / 2);
            margin-left: ($gutter / 3);
            text-transform: uppercase;
            color: $brand-gray-light;
            text-decoration: none;
            position: relative;
            font-size: 14px;
            cursor: pointer;

            &:hover,
            &:focus,
            &:active,
            &.open {
                color: $brand-primary;
            }

            &-services {
                @include clearfix();

                box-shadow: 0 8px 13px transparentize($black, 0.64), 0 0 0 1px transparentize($black, 0.94);
                transform-origin: 29px -10px;
                background-color: $white;
                padding: ($gutter / 2);
                transition: 0.175s ease;
                transform: scale(0.2);
                padding-right: 25px;
                border-radius: 6px;
                position: absolute;
                min-height: 222px;
                max-height: 444px;
                margin-top: 7px;
                cursor: auto;
                width: 337px;
                top: 100%;
                left: 0;

                animation: navigationServicesAppear 0.175s;
                animation-iteration-count: 1;
                animation-fill-mode: both;

                .loader {
                    transform: translate(50%, 50%);
                    position: absolute;
                    bottom: 50%;
                    right: 50%;
                }

                > a {
                    transition: 0.275s ease;
                    margin: 15px 0 25px 15px;
                    position: relative;
                    border-radius: 6px;
                    text-align: center;
                    display: block;
                    height: 60px;
                    width: 60px;
                    float: left;

                    .icon {
                        transform: translate(50%, 50%);
                        position: absolute;
                        font-size: 32px;
                        color: $white;
                        bottom: 50%;
                        right: 50%;
                    }

                    span {
                        transform: translateX(-50%);
                        position: absolute;
                        font-size: 11px;
                        color: $black;
                        left: 50%;
                        top: 45px;
                    }

                    // Adding Style to the Design Service Component
                    // https://github.com/Forcir/design/issues/8
                    &.design {
                        @include app-gradient($brand-primary);
                    }

                    &.patterns {
                        @include patterns(patterns, cover);
                    }
                }

                &.hidden-animation-class {
                    opacity: 0;
                }

                &:before {
                    background: url('../img/popover-arrow.svg');
                    left: ($gutter * 1.5);
                    position: absolute;
                    height: 7px;
                    width: 13px;
                    content: '';
                    top: -7px;
                }
            }

            &.open {
                &:after {
                    content: '';
                }
            }

            &:focus {
                border: 0;
                box-shadow: none;
            }

            &:before {
                color: $brand-gray-light !important;
                margin-right: ($gutter / 3);
                content: '/';
            }

            &:after {
                @extend .icon;

                padding-left: 4px;
                content: '\f0a3';
            }
        }
    }

    &-links {
        @include clearfix();

        @media (max-width: $tablet-max) {
            display: none;
        }

        > ul {
            > li {
                line-height: $navigation-height;
                padding: 0 ($gutter / 2);
                display: inline-block;
                text-align: center;
                font-weight: 500;
                font-size: 12px;

                a {
                    // Remove Focus State on Nav Links
                    // https://github.com/Forcir/design/issues/1
                    &:focus {
                        border: 0;
                        outline: 0;
                        box-shadow: none;
                    }
                }

                .btn,
                .button {
                    top: -2px;

                    &:focus {
                        border: 0;
                        outline: 0;
                        box-shadow: 0;
                    }
                }

                &.active {
                    box-shadow: inset $brand-primary 0 -1px 0 0;
                }
            }
        }

        &-left {
            @include remove-list-defaults();

            float: left;
        }

        &-right {
            @include remove-list-defaults();

            float: right;
        }

        &-services {
            @media (min-width: $tablet-min) {
                display: none;
            }
        }
    }

    // Adding Mobile Responsive Styling
    // https://github.com/Forcir/design/issues/9
    &-mobile {
        &-toggle {
            touch-action: manipulation;
            right: ($gutter / 2) + 5;
            position: absolute;
            display: none;
            z-index: 1;
            top: 5px;

            @media (max-width: $tablet-max) {
                display: block;
            }

            .icon {
                height: $navigation-mobile-toggle-size;
                width: $navigation-mobile-toggle-size;
                border-radius: 100%;
                position: relative;
                cursor: pointer;

                &:before {
                    height: $navigation-mobile-toggle-size;
                    width: $navigation-mobile-toggle-size;
                    transition: all 0.6s ease;
                    transform: scale(0.21);
                    border-radius: 100%;
                    position: absolute;
                    background: $brand-primary;
                    display: block;
                    content: '';
                }

                &:after {
                    left: ($navigation-mobile-toggle-size / 2);
                    top: ($navigation-mobile-toggle-size / 2);
                    box-shadow: 8px -4px 0 $brand-primary,
                                -16px -4px 0 $brand-primary;
                    transition: all 0.4s ease;
                    border-radius: 100%;
                    position: absolute;
                    display: block;
                    height: 8px;
                    width: 8px;
                    content: '';
                    z-index: -1;
                }

                &.active {
                    &:before {
                        transform: scale(0.8);
                        box-shadow: 0 2px 5px 0 transparentize($black, 0.84),
                                    0 2px 9px 0 transparentize($black, 0.88);

                        &:hover {
                            box-shadow: 0 5px 11px 0 transparentize($black, 0.82),
                                        0 4px 15px 0 transparentize($black, 0.85);
                        }
                    }

                    &:after {
                        box-shadow: 0 -4px 0 $brand-primary, 0 -4px 0 $brand-primary;
                        opacity: 0.4;

                        -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=40)';
                        filter: alpha(opacity = 40);
                    }

                    i {
                        transform: rotate(45deg);
                        filter: none;
                        opacity: 1;
                    }
                }

                i {
                    transition: all 0.6s ease;
                    transform: rotate(-45deg);
                    position: absolute;
                    background: $white;
                    display: block;
                    height: 14px;
                    width: 2px;
                    opacity: 0;
                    left: 19px;
                    top: 13px;

                    filter: alpha(opacity = 0);

                    &:after {
                        background: $white;
                        position: absolute;
                        display: block;
                        content: '';
                        width: 14px;
                        height: 2px;
                        left: -6px;
                        top: 6px;
                    }
                }
            }
            .tap {
                background-color: transparentize($brand-primary, 0.4);
                transform: scale(0);
                border-radius: 100%;
                position: absolute;
                display: block;
                filter: none;
                height: ($navigation-mobile-toggle-beat-size);
                width: ($navigation-mobile-toggle-beat-size);
                left: -($navigation-mobile-toggle-beat-size / 4);
                top: -($navigation-mobile-toggle-beat-size / 4);
                opacity: 1;

                &.active {
                    transition: all 0.3s ease-out;
                    transform: scale(1);
                    opacity: 0;

                    -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=0)';
                    filter: alpha(opacity = 0);
                }
            }
        }

        &-active {
            .navigation-links {
                background-color: $white;
                text-align: center;
                position: fixed;
                display: block;
                height: 100vh;
                width: 100vw;
                bottom: 0;
                right: 0;
                left: 0;
                top: $navigation-height;

                &-services {
                    &:not(:empty) {
                        border-top: 1px solid $border-color;
                        text-align: left;

                        display: flex;
                        flex-flow: row wrap;
                        justify-content: space-between;

                        li {
                            @include aspect-ratio(1, 1);

                            max-width: 120px;
                            min-width: 85px;
                            padding: 0;

                            flex-basis: auto;
                            flex-grow: 1;

                            .content {
                                margin: ($gutter / 2);
                                border-radius: 6px;

                                .icon {
                                    transform: translate(50%, 25%);
                                    position: absolute;
                                    font-size: 2.25rem;
                                    color: $white;
                                    bottom: 50%;
                                    right: 50%;
                                }

                                span {
                                    transform: translateX(-50%);
                                    bottom: ($gutter / 2);
                                    position: absolute;
                                    line-height: 1.5;
                                    color: $white;
                                    left: 50%;
                                }

                                // Adding Style to the Design Service Component
                                // https://github.com/Forcir/design/issues/8
                                &.design {
                                    @include app-gradient($brand-primary);
                                }

                                &.patterns {
                                    @include patterns(patterns, contain);
                                }
                            }
                        }
                    }
                }

                &-left,
                &-right {
                    float: none;

                    li {
                        display: block;

                        a {
                            font-size: 1rem;
                            display: block;
                        }
                    }
                }
            }
        }
    }
}

// Navigational Tool - That's why this is here.
// Also bond to the navigation.js class scroll watch
.return-to-top {
    @extend .tooltipped;
    @extend .tooltipped-w;

    height: ($navigation-return-to-top-height);
    width: ($navigation-return-to-top-width);
    z-index: ($zindex-navigation);
    transform: scale(0.6);
    pointer-events: none;
    border-radius: 50%;
    bottom: ($gutter);
    right: ($gutter);
    position: fixed;
    cursor: pointer;
    opacity: 0;

    animation: navigationReturnToTopFadeIn 1s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;

    i {
        @extend .icon-large;
        @extend .icon-chevron-up;

        transform: translate(50%, 50%);
        position: absolute;
        bottom: 50%;
        right: 50%;
    }
}
