.navigation {
    background-color: $navigation-bg;
    z-index: $zindex-navigation;
    height: $navigation-height;
    position: absolute;
    right: 0;
    left: 0;
    top: 0;

    .container {
        border-bottom: $navigation-border-height solid $navigation-border-color;
        height: $navigation-height;
    }

    &-dummy {
        height: $navigation-height;
        position: relative;
    }

    &-fixed {
        border-bottom: $navigation-fixed-border-height solid $navigation-fixed-border-color;
        height: $navigation-fixed-height;
        transform: translateY(-100%);
        transition: 0.275s;
        position: fixed;

        animation: navigationFixedTransitionSlideDown 1s;
        animation-fill-mode: forwards;
        animation-iteration-count: 1;

        .container {
            border-bottom: 0;
        }

        &::after {
            background: linear-gradient($navigation-bg, transparent);
            height: $navigation-fixed-fade-out;
            top: $navigation-height;
            position: fixed;
            content: '';
            right: 0;
            left: 0;
        }
    }

    &-logo {
        float: left;

        &-link {
            text-indent: -9999px;
            color: transparent;
            font-size: 0;
            height: 0;

            &:before {
                background-image: url('../img/logo-dark.png');
                background-repeat: no-repeat;
                background-size: auto 100%;

                margin: ($navigation-height / 3.5) 0;
                height: ($navigation-height / 2.5);
                transition: 0.175s;
                display: block;
                width: 93px;
                float: left;
                content: '';
                opacity: 0.5;
            }

            &:hover {
                &:before {
                    opacity: 1;
                }
            }
        }

        &-project-link {
            line-height: ($navigation-height - ($navigation-height / ($navigation-height / 2)));
            margin-right: ($gutter / 2);
            margin-left: ($gutter / 4);
            text-transform: uppercase;
            color: $brand-gray-light;
            text-decoration: none;
            position: relative;
            font-size: 14px;
            cursor: pointer;

            &:hover,
            &:focus,
            &:active,
            &.open {
                color: $brand-primary;
            }

            &-services {
                @include clearfix();

                box-shadow: 0 8px 13px transparentize($black, 0.64), 0 0 0 1px transparentize($black, 0.94);
                transform-origin: 29px -10px;
                background-color: $white;
                padding: ($gutter / 2);
                transition: 0.175s ease;
                transform: scale(0.2);
                padding-right: 25px;
                border-radius: 6px;
                position: absolute;
                min-height: 222px;
                max-height: 444px;
                margin-top: 7px;
                cursor: auto;
                width: 337px;
                top: 100%;
                left: 0;

                animation: navigationServicesAppear 0.175s;
                animation-iteration-count: 1;
                animation-fill-mode: both;

                .loader {
                    transform: translate(50%, 50%);
                    position: absolute;
                    bottom: 50%;
                    right: 50%;
                }

                > a {
                    transition: 0.275s ease;
                    margin: 15px 0 25px 15px;
                    position: relative;
                    border-radius: 6px;
                    text-align: center;
                    display: block;
                    height: 60px;
                    width: 60px;
                    float: left;

                    .icon {
                        transform: translate(50%, 50%);
                        position: absolute;
                        font-size: 32px;
                        display: none;
                        bottom: 50%;
                        right: 50%;
                    }

                    span {
                        transform: translateX(-50%);
                        position: absolute;
                        font-size: 11px;
                        color: $black;
                        left: 50%;
                        top: 45px;
                    }

                    &.design {
                        //
                    }

                    &.patterns {
                        @include patterns(patterns, cover);
                    }
                }

                &.hidden-animation-class {
                    opacity: 0;
                }

                &:before {
                    background: url('../img/popover-arrow.svg');
                    left: ($gutter * 1.5);
                    position: absolute;
                    height: 7px;
                    width: 13px;
                    content: '';
                    top: -7px;
                }
            }

            &.open {
                &:after {
                    content: '';
                }
            }

            &:focus {
                border: 0;
                box-shadow: none;
            }

            &:before {
                color: $brand-gray-light !important;
                margin-right: ($gutter / 3);
                content: '/';
            }

            &:after {
                @extend .icon;

                padding-left: 4px;
                content: '\f0a3';
            }
        }
    }

    &-links {
        @include clearfix();

        > ul {
            > li {
                line-height: $navigation-height;
                padding: 0 ($gutter / 2);
                display: inline-block;
                text-align: center;
                font-weight: 500;
                font-size: 12px;

                .btn,
                .button {
                    top: -2px;
                }

                &.active {
                    box-shadow: inset $brand-primary 0 -1px 0 0;
                }
            }
        }

        &-left {
            @include remove-list-defaults();

            float: left;
        }

        &-right {
            @include remove-list-defaults();

            float: right;
        }
    }
}

// Navigational Tool - That's why this is here.
// Also bond to the navigation.js class scroll watch
.return-to-top {
    @extend .tooltipped;
    @extend .tooltipped-w;

    height: ($navigation-return-to-top-height);
    width: ($navigation-return-to-top-width);
    z-index: ($zindex-navigation);
    transform: scale(0.6);
    pointer-events: none;
    border-radius: 50%;
    bottom: ($gutter);
    right: ($gutter);
    position: fixed;
    cursor: pointer;
    opacity: 0;

    animation: navigationReturnToTopFadeIn 1s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;

    i {
        @extend .icon-large;
        @extend .icon-chevron-up;

        transform: translate(50%, 50%);
        position: absolute;
        bottom: 50%;
        right: 50%;
    }
}
