.navigation {
    top: 0;
    left: 0;
    right: 0;
    position: fixed;
    height: $navigation-height;
    z-index: $zindex-navigation;
    background-color: $navigation-bg;
    box-shadow: 0 2px 2px -2px transparentize($black, 0.18);
    border-bottom: $navigation-border-height solid $navigation-border-color;

    &-dummy {
        height: $navigation-height;
        position: relative;
    }

    &-logo {
        float: left;

        &-link {
            color: transparentize($white, 0.1);
            text-shadow: 0 -1px transparentize($black, 0.5);
            margin: ($navigation-height / 3.6) 0;
            text-transform: lowercase;
            transition: 0.175s ease;
            padding-left: ($gutter);
            line-height: 20px;
            font-weight: 500;
            font-size: 24px;
            display: block;
            float: left;

            background-image: url('../img/brand/logo-white.svg');
            background-repeat: no-repeat;
            background-size: auto 100%;

            &:hover {
                color: $white;
            }
        }

        &-project-link {
            text-shadow: 0 -1px transparentize($black, 0.75);
            color: transparentize($white, 0.3);
            line-height: $navigation-height;
            margin-right: ($gutter / 2);
            margin-left: ($gutter / 3);
            text-transform: lowercase;
            text-decoration: none;
            position: relative;
            font-size: 14px;
            cursor: pointer;

            &:before {
                color: $white-contrast !important;
                margin-right: ($gutter / 3);
                border-left: 1px solid transparentize($white, 0.9);
                box-shadow: transparentize($black, 0.9) -1px 0;
                content: '';
            }

            &.open,
            &:focus,
            &:active,
            &:hover {
                color: $white;
            }
        }

        .dropdown {
            &-menu {
                margin-top: -6px;

                .icon {
                    margin-right: 6px;
                }
            }

            .loader {
                margin: 30px 50px;
                text-align: center;
            }
        }
    }

    &-links {
        @include clearfix();
        user-select: none;

        @media (max-width: $tablet-max) {
            display: none;
        }

        &-left {
            float: left;
        }

        &-right {
            float: right;
        }

        &-item {
            text-shadow: 0 -1px transparentize($black, 0.75);
            color: transparentize($white, 0.3);
            line-height: $navigation-height;
            font-weight: 500;

            &:hover,
            &:focus,
            &:active {
                color: transparentize($white, 0.1);
            }

            &:not(:first-child) {
                margin-left: ($gutter / 2);
            }
        }

        .dropdown {
            padding-right: 15px;
            margin-left: ($gutter / 2);

            &:not(:last-of-type) {
                margin-right: ($gutter / 2);
            }

            .dropdown-toggle {
                position: relative;

                &:after {
                    @extend .icon;

                    top: 50%;
                    font-size: 9px;
                    content: '\ea68';
                    padding-left: 4px;
                    position: absolute;
                    transform: translateY(-50%);
                }
            }

            .dropdown-menu {
                margin-top: -6px;
            }
        }
    }

    // Adding Mobile Responsive Styling
    // https://github.com/Forcir/design/issues/9
    @media (min-width: $tablet-min) {
        &-mobile {
            &-toggle {
                display: none;
            }
        }
    }

    @media (max-width: $tablet-max) {
        &-mobile {
            &-toggle {
                touch-action: manipulation;
                right: ($gutter / 2) + 5;
                position: absolute;
                display: block;
                z-index: 1;
                top: 0;

                .icon {
                    height: $navigation-mobile-toggle-size;
                    width: $navigation-mobile-toggle-size;
                    border-radius: 100%;
                    position: relative;
                    cursor: pointer;

                    &:before {
                        height: $navigation-mobile-toggle-size;
                        width: $navigation-mobile-toggle-size;
                        transition: all 0.6s ease;
                        transform: scale(0.21);
                        border-radius: 100%;
                        position: absolute;
                        background: $white;
                        display: block;
                        content: '';
                    }

                    &:after {
                        left: ($navigation-mobile-toggle-size / 2);
                        top: ($navigation-mobile-toggle-size / 2);
                        box-shadow: 8px -4px 0 $white,
                                    -16px -4px 0 $white;
                        transition: all 0.4s ease;
                        border-radius: 100%;
                        position: absolute;
                        display: block;
                        height: 8px;
                        width: 8px;
                        content: '';
                        z-index: -1;
                    }

                    &.active {
                        &:before {
                            transform: scale(0.8);
                            box-shadow: 0 2px 5px 0 transparentize($black, 0.84),
                                        0 2px 9px 0 transparentize($black, 0.88);

                            &:hover {
                                box-shadow: 0 5px 11px 0 transparentize($black, 0.82),
                                            0 4px 15px 0 transparentize($black, 0.85);
                            }
                        }

                        &:after {
                            box-shadow: 0 -4px 0 $white, 0 -4px 0 $white;
                            opacity: 0.4;

                            -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=40)';
                            filter: alpha(opacity = 40);
                        }

                        i {
                            transform: rotate(45deg);
                            filter: none;
                            opacity: 1;

                            &,
                            &:after {
                                background: $brand-primary;
                            }
                        }
                    }

                    i {
                        transition: all 0.6s ease;
                        transform: rotate(-45deg);
                        position: absolute;
                        display: block;
                        height: 14px;
                        width: 2px;
                        opacity: 0;
                        left: 19px;
                        top: 13px;

                        filter: alpha(opacity = 0);

                        &:after {
                            background: $brand-primary;
                            position: absolute;
                            display: block;
                            content: '';
                            width: 14px;
                            height: 2px;
                            left: -6px;
                            top: 6px;
                        }
                    }
                }

                .tap {
                    background-color: transparentize($white, 0.4);
                    transform: scale(0);
                    border-radius: 100%;
                    position: absolute;
                    display: block;
                    filter: none;
                    height: ($navigation-mobile-toggle-beat-size);
                    width: ($navigation-mobile-toggle-beat-size);
                    left: -($navigation-mobile-toggle-beat-size / 4);
                    top: -($navigation-mobile-toggle-beat-size / 4);
                    opacity: 1;

                    &.active {
                        transition: all 0.3s ease-out;
                        transform: scale(1);
                        opacity: 0;

                        -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=0)';
                        filter: alpha(opacity = 0);
                    }
                }
            }

            &-active {
                .navigation-links {
                    background-color: $white;
                    text-align: center;
                    position: fixed;
                    display: block;
                    height: 100vh;
                    width: 100vw;
                    bottom: 0;
                    right: 0;
                    left: 0;
                    top: $navigation-height;

                    &-left,
                    &-right {
                        float: none;

                        li {
                            display: block;

                            a {
                                font-size: 1rem;
                                display: block;
                            }
                        }
                    }
                }
            }
        }
    }
}
