.clearfix {
    @include clearfix;
}

hr {
    @include clearfix();
    background: transparent;
    margin: ($gutter) 0;
    overflow: hidden;
    height: 0;

    border: 0;
    border-bottom: 1px solid $border-color;
}

.hide,
.hidden,
.select2-hidden-accessible {
    display: none;
}
