.clearfix {
    @include clearfix;
}

hr {
    @include clearfix();
    background: transparent;
    margin: ($gutter) 0;
    overflow: hidden;
    height: 0;

    border: 0;
    border-bottom: 1px solid $border-color;
}

.text-center { text-align: center; }
.text-right { text-align: right; }
.text-left { text-align: left; }

.hide,
.hidden,
.select2-hidden-accessible {
    display: none;
}

// scss-lint:disable SelectorFormat
.__slackin {
    z-index: 1200000;
}
// scss-lint:enable SelectorFormat
