// Project URL's
$project-url-homepage:                         'https://www.forcir.com';
$project-url-patterns:                         'https://patterns.forcir.com';
$project-url-designs:                          'https://design.forcir.com';
$project-url-api:                              'https://api.forcir.com';

// Versions
$patterns-version:                             'v1';

// Scaffolding
$gutter:                                        20px !default;

// Brand colors
$brand-primary:                                 #207de5 !default;
$brand-green:                                   #6cc644 !default;
$brand-red:                                     #bd2c00 !default;
$brand-orange:                                  #c9510c !default;
$brand-purple:                                  #6e5494 !default;

$brand-gray:                                    #767676 !default;
$brand-gray-dark:                               #333333 !default;
$brand-gray-light:                              #999999 !default;
$brand-gray-lighter:                            #aaaaaa !default;

$black:                                         #141823 !default;
$white:                                         #ffffff !default;
$white-contrast:                                #fafafa !default;
$highlight:                                     #ffff00 !default;

$border-color:                                  #e5e5e5 !default;
$focus-border-color:                            #51a7e8 !default;
$focus-box-shadow:                              transparentize($focus-border-color, 0.5) !default;

// icons
$nc-font-path:                                  '../fonts' !default;
$nc-font-size-base:                             14px !default;
$nc-css-prefix:                                 icon !default;
$nc-background-color:                           #eeeeee !default;
$nc-li-width:                                   (30em / 14) !default;
$nc-padding-width:                              (1em / 3) !default;

// Animation Sequence
$bezier:                                        cubic-bezier(0.3, 0, 0, 1.3) !default;

// z-index values
$zindex-navigation:                             1000002 !default;
$zindex-modal:                                  1200 !default;
$zindex-gallery-item:                           1100 !default;

// Breakpoints & Containers
$phone-max:                                     480px !default;
$phone-min:                                     ($phone-max - 1) !default;
$phone-container:                               auto !default;

$tablet-max:                                    768px !default;
$tablet-min:                                    ($tablet-max - 1) !default;
$tablet-container:                              600px !default;

$screen-max:                                    992px !default;
$screen-min:                                    ($screen-max - 1) !default;
$screen-container:                              980px !default;

// Body Declarations
$body-font:                                     'ForcirType A', 'ForcirType B', 'Helvetica Neue', Helvetica, arial, nimbussansl, liberationsans, freesans, clean, sans-serif !default;
$body-font-type:                                'Helvetica Neue', Helvetica, arial, nimbussansl, liberationsans, freesans, clean, sans-serif !default;

// The base body properties
$body-font-size:                                13px !default;
$body-bg:                                       $white !default;
$body-bg-contrast:                              #eceeef !default;

// Monospace font stack
$mono-font:                                     Consolas, 'Liberation Mono', Menlo, Courier, monospace !default;


// Button colors
$button-default-bg:                             #eeeeee !default;
$button-default-color:                          ($brand-gray-dark) !default;
$button-default-border:                         #d5d5d5 !default;

$button-primary-bg:                             #3072b3 !default;
$button-primary-color:                          ($white) !default;
$button-primary-border:                         #2a65a0 !default;

$button-success-bg:                             #60b044 !default;
$button-success-color:                          ($white) !default;
$button-success-border:                         #5ca941 !default;

$button-danger-bg:                              #b33630 !default;
$button-danger-color:                           ($white) !default;
$button-danger-border:                          #942d28 !default;

// Cards
$card-default-bg:                               #ffffff !default;
$card-default-text-color:                       $black !default;
$card-default-border-color:                     #e5e6e9 !default;
$card-default-title-mini-bg:                    #f6f7f8 !default;

$card-red-text-color:                           #991111 !default;
$card-red-border-color:                         #d2b2b2 !default;
$card-red-title-mini-bg:                        #fcdede !default;

$card-green-text-color:                         #424c42 !default;
$card-green-border-color:                       #c8dfc2 !default;
$card-green-title-mini-bg:                      #ecffea !default;

// Dropdowns
$dropdown-default-bg:                           #ffffff !default;
$dropdown-border-color-top:                     #e5e6e9 !default;
$dropdown-border-color-sides:                   #e5e6e9 !default;
$dropdown-border-color-bottom:                  #d0d1d5 !default;

// Alerts
$alert-bg:                                      #e2eef9 !default;
$alert-color:                                   #224466 !default;
$alert-border-color:                            #bac6d3 !default;

$alert-green-bg:                                #ecffea !default;
$alert-green-color:                             #424c42 !default;
$alert-green-border-color:                      #c8dfc2 !default;

$alert-yellow-bg:                               #fff9ea !default;
$alert-yellow-color:                            #4c4a42 !default;
$alert-yellow-border-color:                     #dfd8c2 !default;

$alert-red-bg:                                  #fcdede !default;
$alert-red-color:                               #991111 !default;
$alert-red-border-color:                        #d2b2b2 !default;

// State indicators.
$status-open:                                   $brand-green;
$status-closed:                                 $brand-red;
$status-reverted:                               $status-closed;
$status-merged:                                 $brand-purple;
$status-renamed:                                #fffa5d;
$status-pending:                                #cea61b;

$multiline-max-width:                           250px;
$tooltip-background-color:                      transparentize($black, 0.2);
$tooltip-text-color:                            $white;

$tooltip-success-background-color:              darken($brand-green, 5%);
$tooltip-success-text-color:                    $white;

$tooltip-error-background-color:                $brand-red;
$tooltip-error-text-color:                      $white;

$tooltip-warning-background-color:              $status-renamed;
$tooltip-warning-text-color:                    $black;

// Repository type colors
$repo-private-text:                             #a1882b;
$repo-private-bg:                               #fff9ea;
$repo-private-icon:                             #e9dba5;

$navigation-height:                             42px !default;
$navigation-bg:                                 $brand-primary !default;
$navigation-border-color:                       darken($brand-primary, 10%) !default;
$navigation-border-height:                      1px !default;

$navigation-mobile-toggle-size:                 40px !default;
$navigation-mobile-toggle-beat-size:            ($navigation-mobile-toggle-size * 2) !default;

$navigation-return-to-top-width:                40px !default;
$navigation-return-to-top-height:               40px !default;

// Footer Variables
$footer-bg:                                    #fafcfc !default;
